@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?6dfzdk');
  src:  url('fonts/icons.eot?6dfzdk#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?6dfzdk') format('truetype'),
    url('fonts/icons.woff?6dfzdk') format('woff'),
    url('fonts/icons.svg?6dfzdk#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-location_on:before {
  content: "\e900";
}
._icon-expand_more:before {
  content: "\e901";
}
._icon-calendar-alt-stroke:before {
  content: "\e902";
}
._icon-search:before {
  content: "\e986";
}
._icon-briefcase:before {
  content: "\e9ae";
}
._icon-facebook2:before {
  content: "\ea91";
}
._icon-instagram:before {
  content: "\ea92";
}
._icon-twitter:before {
  content: "\ea96";
}
._icon-linkedin:before {
  content: "\eac9";
}
